<div class="center">
    <h1>Registre-se como</h1>
    <a href="/register/{{user.id}}/aluno" class="btn btn-success">Aluno</a>
    <a href="/register/{{user.id}}/professor" class="btn btn-success">Professor</a>
    
    {{#if message }}
      <p>
        <label style="color:Red">{{ message }}</label>
      </p>
    {{/if}}
</div>