<div class="navbarContainer">
    <div class="profileContainer" >
        <div class="profilePhoto"><a href="">Perfil</a></div>
    </div>
    
    <ul class="navbar">
        
        <li class="navbarItem up">
            <div class="tituloItem" href=""><ion-icon name="bicycle-outline"></ion-icon> <span>Treinos</span></div>
            <ul class="menuList">
                <li class="menuItem">Criar</li>
                <li class="menuItem">Listar</li>
            </ul>
        </li>
        {{!-- {{#if user.profile.professorId}} --}}
        <li class="navbarItem up">
            <div class="tituloItem"><ion-icon name="people-outline"></ion-icon> <span>Alunos</span></div>
            <ul class="menuList">
                <li class="menuItem">Criar</li>
                <li class="menuItem">Listar</li>
            </ul>
        </li>
        {{!-- {{/if}} --}}
        <li class="navbarItem up">
            <div class="tituloItem"><ion-icon name="barbell-outline"></ion-icon><span>Exercícios</span></div>
            <ul class="menuList">
                <li class="menuItem">Criar</li>
                <li class="menuItem">Listar</li>
            </ul>
        </li>
        {{!-- {{#if user.profile.alunoId}} --}}
        <li class="navbarItem up">
            <div class="tituloItem"><ion-icon name="calculator-outline"></ion-icon><span>Medidas</span> </div>
            <ul class="menuList">
                <li class="menuItem">Criar</li>
                <li class="menuItem">Listar</li>
                <li class="menuItem">Listar</li>
            </ul>
        </li>
        {{!-- {{/if}} --}}
        <li class="navbarItem" id="logout">
            <div class="tituloItem"><ion-icon name="log-out-outline"></ion-icon><span>Log out</span></div>
        </li>
    </ul>
</div>