<a href="/aluno" class="btn btn-primary">Aluno</a>
<a href="/professor" class="btn btn-primary">Professor</a>
<a href="/treino" class="btn btn-primary">Treino</a>
<a href="/exercicio" class="btn btn-primary">Exercicio</a>