:root{
    --red: #B02D1E;
    --red_dark: #8A2317 ;
    --red_darker: #140707;
    --red_darker_transparent: #140707fa;
    --blue: #002233;
    --skin_color: #FA7268;
    --purple : #9900FF;
    --purple_dark: #560090;
    --purple_darker: #140021;
}