body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
header{
    width: 100%;
    height: 20px;
}
main{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.flexClolumn{
    display: flex;
    flex-direction: column;

}
.flexClolumn input{
    width: 300px;
    margin: 5px;
}
.flex{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.borderRed{
    border: 1px solid red;
}