body{
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    /* background-image: url('/img/BCpreto.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
}
header{
    width: 100%;
    height: 20px;
}
main{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
label{
    color: rgb(255, 255, 255);
    margin-left: 15px;
    
    background-color: rgba(255, 255, 255, 0);
    width: fit-content;
    font-weight: bolder;
    
    
}
@keyframes labelAnimation {
    100%{
        transform: translateY(0px);
        color: rgb(255, 255, 255);
    }
}

.inputGym{
    
    border: 1px solid #ffffff;
    padding: .375rem .75rem;
    margin-bottom: 5px;
    width: 100%;
    background-color: white;
    
    outline: none;
    color: rgb(0, 0, 0);
    
    
}
.animationLabel{
    transform: translateY(-20px);
    animation: labelAnimation 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.015) 100ms forwards;
}

.animation{
    background-color: rgba(255, 255, 255, 0);
    transform: translateY(-10px);
    animation: inputAnimation 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.015) 100ms forwards;
}

.inputGym::placeholder{
    color: black;
}
.animationLabel h3{
    color: transparent;
    transition: 600ms;
}
.labelFile h3:hover {
    color: rgba(0, 0, 0, 0.479);
}

@keyframes inputAnimation {
    to{
        transform: translateY(0px);
        background-color: rgb(255, 255, 255);
        border: 1px solid #ced4dafa;
    }
}



.flexClolumn{
    display: flex;
    flex-direction: column;

}
.flexClolumn input{
    width: 300px;
    margin: 5px;
}
.flex{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.borderRed{
    border: 1px solid red;
}
a{
    color: rgb(167, 167, 167);
    text-decoration: none;
}
a:hover{
    color: rgb(167, 167, 167);
    text-decoration: none;
}
.Container{
    width: 85vw;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}
.form-control:active{
    border: none;
}
.acoes{
    
    
}
.icone{
    transition: 100ms;
    cursor: pointer;
}
.icone:hover{
    transform: scale(1.4);
}
.iconeExcluir{
    color: rgb(136, 53, 53);
}
.iconeEditar{
    color: rgb(76, 155, 76);
}
.listTitleContainer{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content:space-between;
    padding: 10px;
    align-items: center;
}
.listTitleContainer a{
    height: fit-content;
    width: fit-content;
}
.msg{
    width: fit-content;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--red_darker);
    color: white;
    transform: translateY(-200px);
    animation: msg 300ms cubic-bezier(0.175, 0.885, 0.32, 1.05) 30ms forwards;
}
.successMsg{
    border-color: var(--red_darker);
}
.failMsg{
    background-color: rgba(175, 53, 53, 0.596);
}

@keyframes msg {
    to{
        transform: translateY(0px);
    }
}

.previewImage{
    max-width: 250px;
    max-height: 250px;
    margin: 20px;
    border-radius: 7px;
}
.previewImage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bordaBonita{
    border-radius:20% 80% 59% 41% / 75% 40% 60% 25% ;
    box-shadow: 0px 10px 20px rgb(172, 172, 172);
}

.ContainerFlexColumn{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.Linha{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 10px 50px;
}
.Box{
    flex:1;
    margin: 5px;
}

.centerCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.XcenterYTop{
    display: flex;
    justify-content: flex-start;
    align-items:center  ;
    flex-direction: column;
}
