.navbarContainer{
    width: 15vw;
    height: 90vh;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--red_darker_transparent);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.26);
    border-radius: 7px;
}

.navbarContainer ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 0;
    
    
}
.navbarItem {
    display: flex;
    flex-direction: column;
    width: 90%;
    transition: 300ms;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 5px 10px 5px;
    display: flex;
    justify-content: flex-start;
    border: 3px solid rgba(141, 141, 141, 0);
    align-items: flex-start;
    cursor: pointer;
    color: var(--purple);

}
.navbarItem ion-icon {
    margin-right: 25px;
    width: 25px;
    height: 25px;
}

.navbarItem:hover {
    border-right-color: var(--red_dark);
    
}
.navbarItem:hover .tituloItem{
    color: white;
}
.navbarItem .tituloItem {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 300ms;
    display: flex;
    align-items: center;
}
.profilePhoto{
    width: 80px;
    height: 80px;
    border-radius:45% 55% 59% 41% / 23% 33% 67% 77% ;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow:
  1.5px 1.6px 1.3px rgba(0, 0, 0, 0.037),
  3.2px 3.6px 2.8px rgba(0, 0, 0, 0.059),
  5.5px 6.2px 4.5px rgba(0, 0, 0, 0.075),
  8.5px 9.5px 6.8px rgba(0, 0, 0, 0.088),
  12.6px 14.1px 9.9px rgba(0, 0, 0, 0.1),
  18.5px 20.8px 14.8px rgba(0, 0, 0, 0.113),
  27.8px 31.1px 23px rgba(0, 0, 0, 0.127),
  44.3px 49.6px 39.2px rgba(0, 0, 0, 0.146),
  83px 93px 80px rgba(0, 0, 0, 0.19)
;

    
}
.profilePhoto:hover a{
    color: black;
}
.profilePhoto a{
    color: var(--purple);
    transition: 600ms;
}
.profileContainer{
    width: 100%;
    height:30vh;
    display:flex;
    align-items:center;
    justify-content:center;
    
}





.menuList{
    
}
.menuItem{
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    transition: 100ms;
    
}
.menuItem:hover{
    padding-left: 10px;
}


.drop ul{
    height: 0px;
    animation: down 110ms linear 0ms forwards;
   /*  background-color: var(--purple_dark); */
}
.up ul{
    height: 20px;
    animation: up 160ms linear 0ms forwards;
}
.up ul li{
    height: 0px;
    display: none;
    transition: 100ms;
}
.up{
   /*  background-color: #2b0c1a00; */
}
.drop{
    /* background-color: var(--purple_darker); */
    border-right-color: var(--red_dark);
}
.drop .tituloItem span, .drop .tituloItem ion-icon{
    /* color: var(--red_dark); */
}
.drop .menuList li a:hover{
    color: var(--red_dark);
    transform: translateX(50px);
}

.drop ul li{
    height: 20px;
    transition: 100ms;
}

@keyframes up {
    100%{
        height: 0px;
        /* background-color: #2b0c1a00; */
    }
}

@keyframes down {
    100%{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80px;
        /* background-color:  var(--purple_darker); */
    }
}