<div class="center">
    <h1>Login</h1>
        <form action="/login" method="POST">
        <input class="inputGym" name="email" type="email" /><br />
        <input  class="inputGym" name="senha" type="password" /><br />
        <input class="btn btn-dark" type="submit" value="Login" />
    </form>
    {{#if message }}
      <p>
        <label style="color:Red">{{ message }}</label>
      </p>
    {{/if}}
    <p>
      <a href="/users/forgot">Esqueceu sua senha?</a> | <a href="/users/signup">Não possui cadastro?</a>
    </p>
</div>
